/*style.css*/
/*=============================== */
/* GLOBAL */
body {
background-color: #0d1f23;
color: #fff;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}


.container {
max-width: 420px;
margin: 40px auto;
padding: 20px;
}


.card {
background-color: #122c30;
padding: 20px;
border-radius: 12px;
margin-bottom: 20px;
}


input, textarea {
width: 100%;
padding: 12px;
border-radius: 10px;
border: none;
margin-top: 8px;
margin-bottom: 15px;
background: #fff;
}


.btn {
width: 100%;
background-color: #20e0e0;
color: black;
padding: 14px;
border: none;
border-radius: 12px;
font-weight: bold;
cursor: pointer;
}


.btn:hover { opacity: .9; }


.header {
display: flex;
align-items: center;
gap: 12px;
margin-bottom: 25px;
}


.avatar {
width: 45px;
height: 45px;
border-radius: 50%;
}


.img-icon {
width: 80px;
margin: 10px auto;
display: block;
}


.saldo {
background: #20e0e0;
color: #000;
}